!!! 5
html(class='no-js', lang='en')
	head

		//- manifest='/cache.manifest'
		//- https://developer.mozilla.org/en-US/docs/HTML/Using_the_application_cache

		//- NOTE: these are globals for _layout.jade; do not delete
		//- - var globals = JSON.parse(globals);
		- var cloudPath = globals.cloudPath;
		//- - var baseUrl = globals.baseUrl;

		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

		title #{title}

		meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no', name='viewport')

		meta(property='og:title', content='Clinque for Men')
		meta(property='og:type', content='website')
		meta(property='og:url', content='http://tocome.com/')
		meta(property='og:image', content='#{cloudPath}img/og-thumbnail.jpg')
		meta(property='og:site_name', content='Ramblings')
		meta(property='og:description', content='Ramblings')

		meta(name='msapplication-TileColor', content='#131627')
		meta(name='msapplication-TileImage', content='#{cloudPath}img/msapplication-TileImage.png')

		meta(name='description', content='Ramblings')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='keywords', content='Ramblings, product, etc.')
		meta(name='distribution', content='web')
		meta(itemprop='description', content='Ramblings')
		meta(itemprop='image', content='#{cloudPath}img/og-thumbnail.jpg')
		//- meta(http-equiv='Cache-Control', content='Cache-Control:no-transform,public,max-age=600,s-maxage=900')

		link(rel='shortcut icon', href='#{cloudPath}favicon.ico')

		//- include includes/_head-styles
		//- include includes/_head-scripts
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Old+Standard+TT:400,700' rel='stylesheet' type='text/css'>
		link(rel='stylesheet', href='#{cloudPath}css/app.css')
		link(rel='stylesheet', href='#{cloudPath}css/apprise.min.css')

		script(src='#{cloudPath}libs/modernizr-2.6.2.min.js')
		script(src='#{cloudPath}libs/jquery-2.0.3.min.js')
		script(src='#{cloudPath}libs/bootstrap.min.js')
		script(src='#{cloudPath}libs/apprise-1.5.min.js')
	body
		#wrap
			.navbar.navbar-default.navbar-fixed-top
				.container
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
							span.icon-bar
							span.icon-bar
							span.icon-bar
					.navbar-collapse.collapse
						ul.nav.navbar-nav.navbar-right
							li
								a(href='/about') About
							li
								a(href='/archives') Archives
					block info
					.header
						h1 
							a(href='/') Ramblings
						p.full A real-time collaborative literary experiment
						p.half A literary experiment
			block content


		//- script(type='text/javascript')
		//- 	var _gaq = _gaq || [];
		//- 	var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
		//- 	_gaq.push(['_require', 'inpage_linkid', pluginUrl]);
		//- 	_gaq.push(['_setAccount', 'UA-xxxxxxxx-x']);
		//- 	_gaq.push(['_trackPageview']);
		//- 	(function() {
		//- 		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		//- 		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		//- 		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		//- 	})();
